<a href="https://colab.research.google.com/github/YuxuanJiao/17-CleanedData/blob/main/17_Income_Cleaned_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas

income_raw = pandas.read_excel('earnings-residence-borough.xlsx')

income_raw

,Code,Area,2002,Unnamed: 3,2003,Unnamed: 5,2004,Unnamed: 7,2005,Unnamed: 9,...,2018,Unnamed: 35,2019,Unnamed: 37,2020,Unnamed: 39,2021,Unnamed: 41,2022,Unnamed: 43
0,NaN,NaN,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,...,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %,Pay (£),conf %
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00AA,City of London,!,!,!,!,#,#,#,#,...,909.4,19,#,#,#,#,#,#,#,#
3,00AB,Barking and Dagenham,383.3,5.5,354.9,6.5,360.1,5.2,375.1,5.1,...,479.1,4.9,471,6.1,486.7,6.5,508.7,7.4,536.1,5
4,00AC,Barnet,427.4,5.1,450.1,5,453.3,5.6,442.3,5.3,...,536.6,4.6,536.4,4.4,538.8,4.1,574.9,5.8,624,4.7
5,00AD,Bexley,405,5,431.9,5.1,438.1,5.5,452.4,5.3,...,512.7,5.4,553.4,5.1,566.5,7.6,586.6,5.8,641.5,5.2
6,00AE,Brent,368.4,5.8,359.8,5,395.5,5.4,394.7,4.4,...,479.9,3.9,524,4,531.8,6.3,555.7,5.2,562.5,3.8
7,00AF,Bromley,440.1,5.1,449.2,4.8,461.2,4.5,464.8,4.5,...,632.7,4.3,638.3,5,613.2,7,666.6,5.5,704.7,4.9
8,00AG,Camden,470.8,7.2,491.1,4.5,507.9,4.3,541,5.5,...,634.4,6.2,662,6.7,623,7.1,695,5.9,690.3,5.8
9,00AH,Croydon,405.3,4.5,406.4,4.3,413.3,4.7,421,4.8,...,550.6,3.7,561.7,3.8,565.1,4.8,613.3,4.1,667.7,4.4
10,00AJ,Ealing,431.5,3.9,448.5,4,444.2,3.9,437.8,5,...,524.3,4.4,532.2,3.9,566.8,4.5,582.6,4.3,601.3,3.5
11,00AK,Enfield,363.1,4.6,377.1,5.7,386,5,408.1,5,...,464.8,4.7,490.1,4.6,492.6,5.3,521.5,5,561,5.5
12,00AL,Greenwich,401.3,5.5,430.4,5.6,441.8,5.9,405,5.2,...,566,3.3,579.5,5,573.1,6.4,618.3,5.1,657.4,4.5
13,00AM,Hackney,387.1,6.2,395.2,6,411.1,6.3,432.1,6.4,...,555.4,3.7,574.9,5,574.9,5.7,576.8,5.9,624.1,6.5
14,00AN,Hammersmith and Fulham,492.8,6,498.3,5.6,512,7.3,490.7,6,...,682,4.2,728,4.4,713.1,6.4,727,5.9,729.9,6.9
15,00AP,Haringey,384.9,5.9,429.4,5.4,437.3,6.2,438.3,5.7,...,551.4,4.3,547.6,5.4,567.8,6.3,546,6.2,602.1,6.2
16,00AQ,Harrow,378.1,5.8,417.1,5.3,407.5,5.4,430.9,4.6,...,534.9,5,581.9,4.6,570.5,6.6,580.2,6.1,620.5,6.3
17,00AR,Havering,385.1,6.2,413.4,5,449.3,5.2,463.9,5.4,...,544.8,3.9,568.5,4.2,574.9,5.4,585.7,5.3,613.4,4.8
18,00AS,Hillingdon,396.3,4.1,414.4,4.3,431.5,4.5,431.3,4.1,...,531.7,3.4,545.9,3.7,560.9,6,594.8,5.8,629.6,5.2
19,00AT,Hounslow,388.6,5.3,395.6,5.2,400.1,5.8,413.9,5.5,...,533.6,3.8,547.6,5,511.8,5.7,567.2,5.4,595.1,5.4
20,00AU,Islington,465,5.4,472,5.9,499,5.2,532.5,4.5,...,687.7,5.7,699.1,4.2,690.1,8.2,670.7,6.9,700.8,5.9
21,00AW,Kensington and Chelsea,601.5,10,612.7,11,691.6,12,733,11,...,670.6,11,763.7,11,802,12,763.6,12,712.7,9.4
22,00AX,Kingston upon Thames,435.7,6.7,441.5,6.4,460.7,6,479,6.3,...,629.7,6.2,628,6.4,617.3,7.7,667.9,8.1,666.4,6.4
23,00AY,Lambeth,404.3,5.2,425.5,4.7,446.7,4,460.3,3.5,...,617.1,3.2,634.8,4,670.8,5,681.2,4.2,700.4,4.3
24,00AZ,Lewisham,394.9,4.4,429.6,5.2,425.1,5.8,431.8,5.5,...,551.2,3.7,552,4,574.9,5.1,574.9,5.5,606.3,5
25,00BA,Merton,436.3,5.7,439.4,5.3,442.5,5.9,493.9,5.6,...,594.1,5,578.9,4.5,578.3,5.4,592.1,5.7,579.2,5.7
26,00BB,Newham,338.2,5.1,343.4,5.2,371,6.1,383.2,5.6,...,475.9,4.2,517.5,4.4,534.4,5.3,574.9,4.6,578.3,5.4
27,00BC,Redbridge,402.5,5.8,433.9,6.3,439.8,5.8,432.7,6.5,...,555.8,4.4,565.6,5.5,581.6,5.6,579.3,5.6,581.9,6.3
28,00BD,Richmond upon Thames,564.9,5,567.8,5.2,595.6,5.5,584.7,4.7,...,677.6,5.8,721.1,5.4,702.9,7.1,704.5,6.5,709.3,6.2
29,00BE,Southwark,397.6,5.6,423.8,5.1,412.6,5.5,430.4,5.1,...,589.4,3.4,628,3.4,620.9,5,637.8,4.9,670.7,4.6
30,00BF,Sutton,410.9,5.2,421.7,5.3,426.5,4.2,437,4.8,...,548.7,5,549,5.7,543.3,5,576.9,6.2,575.3,5.2
31,00BG,Tower Hamlets,427.2,6.1,450.4,5.6,481.6,6.2,479.1,3.8,...,627.6,4,688.9,4.5,665,6.5,685.2,5,718.7,4.6
32,00BH,Waltham Forest,403.8,4.2,428.7,5.4,433.2,3.9,415.5,4.9,...,529.7,4.6,574.9,5,596.8,6.5,629.6,4.2,645.2,4.8
33,00BJ,Wandsworth,502.1,4.3,502.5,4.1,526.8,4.4,538.9,4.3,...,695.7,3.3,720.9,3.6,755.2,5,746,5.2,833.1,5.4
34,00BK,Westminster,480,5.9,504.7,5.9,549,6.6,574,5.1,...,757.1,5.5,703.9,6.2,701.1,9.2,771.1,7.7,737.9,6.9
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,A,North East,280.3,1.8,293.3,1.4,303.2,1.7,312.3,1.3,...,420.3,1.3,438.2,1.5,438.5,1.8,463.6,1.4,490.6,1.2
37,B,North West,307.7,1,316.7,1,328.5,1,334.5,1,...,435,0.7,458,0.7,458.1,0.9,479.1,0.8,504.5,0.8
38,D,Yorkshire and The Humber,298.5,1,311,1,321.4,1,324.8,1.1,...,423.9,0.9,445.2,0.9,442.3,1.1,468.8,1,499.4,0.8
39,E,East Midlands,309.7,1.3,319.7,1.1,328.1,1.3,336.6,1.2,...,427.5,1.1,452.6,1,463,1.1,481.3,0.9,505.1,0.9
40,F,West Midlands,309.4,1,317.9,1,327,1,334.8,1,...,440,0.9,455.2,0.8,460,0.9,487.4,1,516.2,1
41,G,East,338.3,1.1,355.1,1.1,365.2,1.1,367.7,1,...,479.1,0.8,496.2,0.9,498.3,1.1,518.2,0.9,549.1,1.1
42,H,London,419.7,0.8,435.9,0.8,448.7,0.8,458,0.8,...,574.9,0.3,590.9,0.7,588.7,1.1,614.4,0.9,645.8,0.9
43,J,South East,365,0.8,375.4,0.9,387.4,0.6,383.3,0.6,...,495.9,0.7,516,0.7,510.6,0.7,544.1,0.7,568.8,0.7
44,K,South West,298.1,1.2,311.2,1,321.1,1.1,325.8,1.1,...,430.8,0.9,444.9,0.8,443.8,1.2,471.4,0.9,507.4,1
45,924,Wales,290.5,1.6,300.3,1.4,317,1.5,320.6,1.4,...,422.5,1.3,446.2,1.1,455.1,1.4,470.4,1,504.9,1
46,923,Scotland,302,1,316.5,1,323.7,1.1,333.4,1,...,452.6,0.9,472.8,0.8,487,0.9,504.7,0.9,528.6,0.8
47,922,Northern Ireland,284.3,1.9,290,1.9,305.4,2.1,318.7,1.8,...,420.2,1.7,429.3,1.4,432.7,1.6,469.5,1.2,498.1,1.2
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,941,England and Wales,328.7,0.3,340,0.3,350.8,0.2,354.6,0.2,...,462.8,0.3,480,0.2,481.4,0.3,507.9,0.3,535.6,0.2
50,926,United Kingdom,324.8,0.2,334.7,0.2,345.5,0.1,349.1,0.2,...,460,0.1,479.1,0.1,479.1,0.1,505.1,0.2,532.5,0.2

In [115]:
dropconf = [col for col in income_raw.columns if "conf %" in str(income_raw.iloc[0][col])]
income1 = income_raw.drop(columns = dropconf)

income_cleaned = income1.iloc[:,[1,11,12,13,14,15]]
income_cleaned= income_cleaned.dropna(axis=1, how='all')
income_cleaned

                        Area     2011     2012     2013     2014     2015
0                        NaN  Pay (£)  Pay (£)  Pay (£)  Pay (£)  Pay (£)
1                        NaN      NaN      NaN      NaN      NaN      NaN
2             City of London        #        #        #        #        #
3       Barking and Dagenham    452.1      450    441.2    422.5    436.6
4                     Barnet    498.3    503.1    517.5    479.1      491
5                     Bexley    505.1    509.1    497.9    512.6    491.1
6                      Brent    414.9      442    441.8    441.8    457.6
7                    Bromley    551.7    566.6    581.1    578.5    583.8
8                     Camden      612      612    629.5    613.1    588.1
9                    Croydon    481.7    493.2    481.4      499    492.2
10                    Ealing    486.6      495    502.1    498.4    495.7
11                   Enfield    475.8    455.4    450.3    462.8    473.6
12                 Greenwich      488    470.5    516.5    509.1    532.5
13                   Hackney    517.4    511.4      519      513    534.5
14    Hammersmith and Fulham    594.1    613.3    610.7    609.9    646.7
15                  Haringey    471.8    489.1    464.6    467.7      500
16                    Harrow    487.7    471.7    478.9    492.3    505.1
17                  Havering    505.3    500.9    489.7    499.1    517.5
18                Hillingdon    497.4    509.7    522.2    492.5    498.8
19                  Hounslow    473.2    479.1    479.1    463.5    495.6
20                 Islington    598.5    605.1      606    613.5    603.7
21    Kensington and Chelsea    793.9      655    726.7    641.3    632.4
22      Kingston upon Thames    579.8    601.1    604.2    556.5    574.6
23                   Lambeth    536.7    574.8    536.6      547    542.9
24                  Lewisham    473.2    499.6    525.5    518.5    517.5
25                    Merton    536.9    538.4      527    542.9    548.1
26                    Newham    382.5    369.8    387.6    393.7    421.6
27                 Redbridge    479.5    526.7    503.9    517.6    533.1
28      Richmond upon Thames      665    670.8    670.5    654.2      648
29                 Southwark    530.5    536.6    524.4      529      557
30                    Sutton    497.9    517.5      518    508.3    498.3
31             Tower Hamlets    542.3    566.8    575.1    574.9    554.9
32            Waltham Forest    464.4    472.6    441.8    444.8    476.3
33                Wandsworth    651.6    632.3    644.1    661.1    670.1
34               Westminster    670.8      701      625    659.6      656
35                       NaN      NaN      NaN      NaN      NaN      NaN
36                North East    364.2    373.9      382    386.7    394.7
37                North West    370.5      378    388.1    394.5      400
38  Yorkshire and The Humber    370.5    374.9      383    383.7    389.1
39             East Midlands    380.4    385.9    394.8      396    400.9
40             West Midlands    373.5    381.2    393.6    392.4    402.5
41                      East    418.5    421.9    438.8    431.2    434.5
42                    London    517.5    523.4    521.2    520.7    527.9
43                South East    442.2    449.1    447.5    456.5    467.9
44                South West    371.1    377.4    383.3      386    398.4
45                     Wales    366.5    366.5    381.1    383.3    388.1
46                  Scotland    392.7    395.9    409.3    413.7    423.6
47          Northern Ireland    354.6    360.1    365.2    363.1    381.7
48                       NaN      NaN      NaN      NaN      NaN      NaN
49         England and Wales    402.7    409.9    418.7    420.7    426.2
50            United Kingdom      400    405.8    415.3    417.9    425.1