<a href="https://colab.research.google.com/github/YuxuanJiao/17-CleanedData/blob/main/3sportsrate_Cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas

sports_raw = pandas.read_excel('sports-participation-borough-region.xls')

sports_raw

,Age 16+ Sports participation - At least three times a week\n,Unnamed: 1,Unnamed: 2,APS1 2005/06,Unnamed: 4,APS2 2007/08,Unnamed: 6,APS3 2008/09,Unnamed: 8,APS4 2009/10,...,APS6 2011/12,Unnamed: 14,APS7 2012/13,Unnamed: 16,APS8 2013/14,Unnamed: 18,APS9 2014/15,Unnamed: 20,APS10 (2015/2016,Unnamed: 22
0,Code,Former area code,Area name,%,Population numbers,%,Population numbers,%,Population numbers,%,...,%,Population numbers,%,Population numbers,%,Population numbers,%,Population numbers,%,Population numbers
1,E12000001,A,North East,0.153,320300,0.166,348300,0.167,352800,0.167,...,0.185,394400,0.185,395600,0.175,375000,0.173,372700,0.166,357400
2,E12000002,B,North West,0.157,865000,0.173,961500,0.175,977700,0.181,...,0.183,1046400,0.183,1052700,0.181,1040400,0.175,1009700,0.183,1059600
3,E12000003,D,Yorkshire,0.15,613100,0.176,740100,0.17,722800,0.169,...,0.18,773100,0.182,786500,0.183,787600,0.173,750600,0.165,720800
4,E12000004,E,East Midlands,0.15,522300,0.171,614400,0.17,615300,0.163,...,0.173,640700,0.163,607700,0.171,639900,0.171,643900,0.165,627800
5,E12000005,F,West Midlands,0.143,614900,0.148,639500,0.156,681700,0.159,...,0.161,727900,0.165,750500,0.166,753800,0.174,800500,0.159,733100
6,E12000006,G,East,0.153,683200,0.167,764100,0.163,758200,0.161,...,0.169,801400,0.169,809600,0.168,809100,0.169,823100,0.169,830800
7,E12000007,H,London,0.165,1005600,0.172,1046700,0.179,1100100,0.174,...,0.184,1207600,0.19,1264100,0.181,1209200,0.185,1257500,0.18,1237700
8,E12000008,J,South East,0.166,1093600,0.176,1182100,0.177,1199800,0.173,...,0.185,1299600,0.183,1293400,0.184,1304100,0.18,1288700,0.19,1372700
9,E12000009,K,South West,0.155,643200,0.164,699600,0.169,722700,0.17,...,0.171,748000,0.181,797000,0.184,811400,0.176,786400,0.177,797600
10,E92000001,NaN,England,0.156,6361000,0.169,6996300,0.171,7131200,0.17,...,0.177,7638900,0.179,7757300,0.178,7730500,0.176,7733100,0.175,7737400
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,E09000001,00AA,City of London,*,*,*,*,*,*,*,...,*,*,*,*,*,*,*,*,*,*
13,E09000002,00AB,Barking and Dagenham,0.118,14800,0.134,17000,0.162,20600,0.126,...,0.131,18100,0.135,18900,0.119,16800,0.141,20400,0.138,20300
14,E09000003,00AC,Barnet,0.157,41500,0.182,47700,0.17,44900,0.188,...,0.175,49700,0.184,52900,0.162,47000,0.181,53400,0.177,53000
15,E09000004,00AD,Bexley,0.16,28200,0.127,22500,0.152,27100,0.135,...,0.14,26000,0.184,34300,0.174,32500,0.147,28000,0.199,38200
16,E09000005,00AE,Brent,0.138,30300,0.155,34100,0.131,28700,0.138,...,0.184,45900,0.145,36300,0.191,48100,0.124,31500,0.152,39000
17,E09000006,00AF,Bromley,0.155,37800,0.186,45000,0.171,41600,0.161,...,0.166,41600,0.187,47200,0.151,38400,0.213,54700,0.188,48900
18,E09000007,00AG,Camden,0.18,34300,0.183,35900,0.226,45200,0.188,...,0.183,33800,0.233,43800,0.224,42600,0.228,44300,0.247,49100
19,E09000008,00AH,Croydon,0.15,40900,0.156,41900,0.142,38500,0.135,...,0.196,56000,0.174,50100,0.124,36000,0.176,51600,0.0943,27800
20,E09000009,00AJ,Ealing,0.168,41100,0.187,46400,0.177,44300,0.159,...,0.165,44600,0.208,56300,0.202,54500,0.154,41400,0.194,52100
21,E09000010,00AK,Enfield,0.168,37300,0.128,28700,0.153,34500,0.136,...,0.152,37100,0.146,35800,0.156,38500,0.161,40300,0.132,33300
22,E09000011,00AL,Greenwich,0.165,30000,0.167,29400,0.229,40300,0.168,...,0.154,30800,0.151,30800,0.159,32600,0.154,32200,0.176,37600
23,E09000012,00AM,Hackney,0.152,24500,0.158,25800,0.171,28400,0.185,...,0.207,40700,0.179,35700,0.194,39400,0.179,37300,0.181,38400
24,E09000013,00AN,Hammersmith and Fulham,0.209,31700,0.209,30200,0.247,35500,0.239,...,0.197,30100,0.273,40900,0.254,37500,0.24,35300,0.204,30200
25,E09000014,00AP,Haringey,0.177,32000,0.169,30600,0.177,32300,0.179,...,0.176,35900,0.18,37000,0.195,40900,0.228,48700,0.23,50100
26,E09000015,00AQ,Harrow,0.141,24200,0.124,21300,0.145,25100,0.176,...,0.158,30400,0.144,27900,0.147,28500,0.171,33500,0.168,32800
27,E09000016,00AR,Havering,0.15,27400,0.142,26200,0.169,31600,0.157,...,0.168,32500,0.175,34100,0.158,30900,0.167,33200,0.152,30400
28,E09000017,00AS,Hillingdon,0.16,32200,0.18,35900,0.168,33900,0.148,...,0.157,34400,0.213,47300,0.171,38500,0.134,30800,0.124,28900
29,E09000018,00AT,Hounslow,0.164,28100,0.149,26500,0.179,31900,0.152,...,0.204,41600,0.164,33600,0.203,42000,0.202,42300,0.17,36000
30,E09000019,00AU,Islington,0.161,24600,0.197,31000,0.201,32200,0.214,...,0.207,36000,0.235,41700,0.196,35400,0.221,40900,0.193,36900
31,E09000020,00AW,Kensington and Chelsea,0.218,36600,0.243,36600,0.207,31500,0.257,...,0.285,38200,0.252,33100,0.2,26000,0.251,32800,0.29,38200
32,E09000021,00AX,Kingston upon Thames,0.184,23100,0.161,20800,0.232,30400,0.212,...,0.206,26800,0.195,25800,0.21,28200,0.181,24700,0.229,31900
33,E09000022,00AY,Lambeth,0.18,39700,0.212,47500,0.189,42800,0.153,...,0.203,50800,0.231,58700,0.248,63800,0.216,56500,0.214,57100
34,E09000023,00AZ,Lewisham,0.165,32700,0.153,31700,0.161,33800,0.148,...,0.182,40000,0.144,32000,0.131,29500,0.159,36600,0.183,43100
35,E09000024,00BA,Merton,0.172,27400,0.184,30000,0.197,32400,0.215,...,0.161,26000,0.226,36600,0.186,30200,0.241,39000,0.213,34500
36,E09000025,00BB,Newham,0.125,23400,0.13,24700,0.129,24500,0.134,...,0.149,35800,0.169,41000,0.152,37100,0.14,34900,0.163,41700
37,E09000026,00BC,Redbridge,0.166,33100,0.18,35900,0.164,33100,0.156,...,0.175,38300,0.168,36900,0.198,44000,0.181,40900,0.145,33100
38,E09000027,00BD,Richmond upon Thames,0.216,32900,0.222,32100,0.22,31700,0.221,...,0.244,36700,0.266,40100,0.225,34100,0.25,38300,0.22,33800
39,E09000028,00BE,Southwark,0.133,27700,0.167,37500,0.196,44800,0.167,...,0.193,45500,0.191,45600,0.166,40300,0.156,38300,0.167,41900
40,E09000029,00BF,Sutton,0.151,21400,0.15,22400,0.174,26100,0.164,...,0.154,23600,0.191,29600,0.148,23000,0.181,28500,0.172,27300
41,E09000030,00BG,Tower Hamlets,0.169,28600,0.156,26700,0.144,25400,0.184,...,0.167,34400,0.185,38800,0.2,43400,0.174,39400,0.239,56200
42,E09000031,00BH,Waltham Forest,0.144,25600,0.162,28300,0.177,31000,0.166,...,0.176,36100,0.171,35200,0.155,32100,0.145,30400,0.14,29500
43,E09000032,00BJ,Wandsworth,0.208,49500,0.252,60000,0.204,48800,0.236,...,0.239,61300,0.233,59600,0.213,54400,0.282,72400,0.213,54900
44,E09000033,00BK,Westminster,0.195,41600,0.166,33800,0.217,44500,0.23,...,0.237,44300,0.234,44300,0.218,41400,0.224,43900,0.149,30200

In [9]:
sports_cleaned = sports_raw.iloc[:,[2,11,13,15,17,19]]

columns=sports_cleaned.columns[1:]
for i in columns:
          sports_cleaned[i] = pandas.to_numeric(sports_cleaned[i], errors='coerce')
sports_cleaned

<ipython-input-9-297b3c13a488>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sports_cleaned[i] = pandas.to_numeric(sports_cleaned[i], errors='coerce')

,Unnamed: 2,APS5 2010/11,APS6 2011/12,APS7 2012/13,APS8 2013/14,APS9 2014/15
0,Area name,NaN,NaN,NaN,NaN,NaN
1,North East,0.166,0.185,0.185,0.175,0.173
2,North West,0.176,0.183,0.183,0.181,0.175
3,Yorkshire,0.177,0.180,0.182,0.183,0.173
4,East Midlands,0.158,0.173,0.163,0.171,0.171
5,West Midlands,0.153,0.161,0.165,0.166,0.174
6,East,0.163,0.169,0.169,0.168,0.169
7,London,0.169,0.184,0.190,0.181,0.185
8,South East,0.171,0.185,0.183,0.184,0.180
9,South West,0.169,0.171,0.181,0.184,0.176
10,England,0.168,0.177,0.179,0.178,0.176
11,NaN,NaN,NaN,NaN,NaN,NaN
12,City of London,NaN,NaN,NaN,NaN,NaN
13,Barking and Dagenham,0.128,0.131,0.135,0.119,0.141
14,Barnet,0.148,0.175,0.184,0.162,0.181
15,Bexley,0.179,0.140,0.184,0.174,0.147
16,Brent,0.146,0.184,0.145,0.191,0.124
17,Bromley,0.203,0.166,0.187,0.151,0.213
18,Camden,0.172,0.183,0.233,0.224,0.228
19,Croydon,0.147,0.196,0.174,0.124,0.176
20,Ealing,0.129,0.165,0.208,0.202,0.154
21,Enfield,0.111,0.152,0.146,0.156,0.161
22,Greenwich,0.132,0.154,0.151,0.159,0.154
23,Hackney,0.180,0.207,0.179,0.194,0.179
24,Hammersmith and Fulham,0.199,0.197,0.273,0.254,0.240
25,Haringey,0.181,0.176,0.180,0.195,0.228
26,Harrow,0.174,0.158,0.144,0.147,0.171
27,Havering,0.157,0.168,0.175,0.158,0.167
28,Hillingdon,0.108,0.157,0.213,0.171,0.134
29,Hounslow,0.188,0.204,0.164,0.203,0.202
30,Islington,0.173,0.207,0.235,0.196,0.221
31,Kensington and Chelsea,0.204,0.285,0.252,0.200,0.251
32,Kingston upon Thames,0.212,0.206,0.195,0.210,0.181
33,Lambeth,0.233,0.203,0.231,0.248,0.216
34,Lewisham,0.155,0.182,0.144,0.131,0.159
35,Merton,0.141,0.161,0.226,0.186,0.241
36,Newham,0.125,0.149,0.169,0.152,0.140
37,Redbridge,0.166,0.175,0.168,0.198,0.181
38,Richmond upon Thames,0.251,0.244,0.266,0.225,0.250
39,Southwark,0.179,0.193,0.191,0.166,0.156
40,Sutton,0.198,0.154,0.191,0.148,0.181
41,Tower Hamlets,0.162,0.167,0.185,0.200,0.174
42,Waltham Forest,0.173,0.176,0.171,0.155,0.145
43,Wandsworth,0.213,0.239,0.233,0.213,0.282
44,Westminster,0.196,0.237,0.234,0.218,0.224